body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.wrapper{

    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;

    background-color: white;

}

nav{
    background-color: #32818f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.main_menu{
    padding: 5px 0 5px 0;
    margin: 0;
    text-align: center;
    line-height: 30px;
    background-color: #32818f;
    margin-left: 15%;
    width: 70%;
    display: inline-flex;
    color: #fff;
    justify-content: space-between;
}

.main_menu li{
    display: inline-flex;
    padding: 0 10px 0 10px;
    font-size: 16px;
}
.main_menu a{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-variant: small-caps;
    justify-content: space-between;


}
.main_menu a:hover{
    background-color: #fff;
    color: #6b8885;
}
.Login{
    width: 20vw;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  
}
.login-color {
    background-color: #ebeef3;
    border-radius: 10px;
  }
  .login-welcome {
    height: 50px;
    display: flex;
    font-size: 2vw;
    border-radius: 10px 10px 0 0;
    background-color: #32818f;
    color: white;
  }

  .login-welcome h1 {
    margin: auto;
    font-size: 1.5rem;
    border-radius: 10px 10px 0 0;
    background-color: #32818f;
    color: white;
    text-align: center;
  }
  .fast-login {
    display: flex;
    flex-direction: column;
  }
  .fast-login h2 {
    margin: 15px auto 15px auto;
    font-size: 1.2rem;
    text-align: center;
  }
  
.fb{
    margin-top: 20px;
}

ul{
    padding: 0;

}
.coll li{
    padding: 4px;
    list-style-type: none;
    cursor: pointer;
    background-color: #ebeef3;
    margin-bottom: 2px;
    height: 100px;
}
.coll li:hover{
background-color: #d5d8db;
}
.coll{
    height: 80vh;

    overflow-x: scroll;     
    overflow-x: hidden;
}
.coll p{
    text-align: center;
}
.column{
    background-color: rgb(248, 248, 248);
    padding: 0;
}
.column .name{
    text-align: center;
    width: 100%;
    background-color: #32818f;
    color: #fff;
    height:50px;
}
.results{
    width: 0px;
    height: 0px;
    color:white;
    user-select: none;
}
.search-block-container{
    width: 100%;
}
.input{
    
}
.input input{
    float: right;
    width: 225px;
}
.footer-row{
    margin-top: 5px;
    width: 100%;
    height: 25px;
    background-color: #32818f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-container-target{
    margin-top: 20px;
    width:30%;
    max-height: 80px;
    overflow-x: scroll;
    overflow-x: hidden;
}
.search-container{

    max-height: 80px;
    overflow-x: scroll;
    overflow-x: hidden;
    width: 30%;
    float: right;
    
}
.search-data-component{
    padding: 1px;
    list-style-type: none;
    cursor: pointer;
    background-color: #ebeef3;
    margin-bottom: 1px;
    font-size: 10px;
}


.modal-content{
    margin-top: 20px;
    border: none;
    width: 700px;
}
.modal-content .header{
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.modal-content .footer{
    width: 100%;
}
.modal-content .close-button{

    float: right;
}
.modal-content label{
    width: 100%;
}
.modal-content input{
    float: right;
}
.modal-content .text-field{
    width:100%;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }